<section class="flex h-screen w-full items-center justify-center">
  <div
    class="flex h-[300px] w-[600px] items-center justify-center bg-cover max-md:m-20"
    [style.backgroundImage]="'url(/assets/img.jpg)'"
  >
    <h1
      class="rounded-xl bg-black/10 px-10 py-20 text-6xl text-lime-500 transition-all hover:scale-110 hover:text-red-500 max-sm:text-5xl"
    >
      Portfolio Nabil
    </h1>
  </div>
</section>

<div
  class="fixed bottom-0 right-0 m-2 flex items-center space-x-2 rounded border border-black bg-black p-2 text-sm text-white"
>
  <img class="mx-auto h-5 w-auto" src="favicon.ico" alt="Hacka'Press" />
  <span class="ml-1 sm:hidden md:hidden lg:hidden xl:hidden"
    >default (&lt; 640px)</span
  >
  <span class="ml-1 hidden font-extrabold sm:inline md:hidden">SM</span>
  <span class="ml-1 hidden font-extrabold md:inline lg:hidden">MD</span>
  <span class="ml-1 hidden font-extrabold lg:inline xl:hidden">LG</span>
  <span class="ml-1 hidden font-extrabold xl:inline">XL</span>
</div>
